<div class="col-md-3">
  <h3>Existing Languages</h3>
  {{model._id}}
  <ul>
  {{#each existingLanguages}}
    <li>{{this}}</li>
  {{/each}}
  </ul>
  <form>
    <h3>Add a new language</h3>
    {{view Ember.Select
      prompt = '-'
      class='form-control'
      selectionBinding='selectedLanguage'
      content=availableLanguages
    }}
    <button {{action 'add'}} class="btn btn-primary">Add Language</button>
  </form>
  <ul class="list-unstyled">
    {{#each keys}}
      <li>
        <h4>{{name}}</h4>
        <ul class="list-unstyled">
          {{#each item in keys}}
          <li>
            {{#link-to 'keys.key' item.key}}{{item.key}}{{/link-to}}
          </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</div>
{{outlet}}
