<div class="col-md-4 languages">
  <h3>Existing Languages</h3>
  <ul class="existing-languages  list-unstyled">
  {{#each existingLanguages}}
    <li>{{this}}</li>
  {{/each}}
  </ul>
  {{#if view.showLanguages}}
  <form>
    <h3>Add a new language</h3>
    {{view Ember.Select
      prompt = '-'
      class='form-control'
      selectionBinding='selectedLanguage'
      content=availableLanguages
    }}
    <button {{action 'createNewLanguage'}} class="btn btn-primary">Add Language</button>
  </form>
  {{/if}}

  <ul class="list-unstyled">
    {{#each keys}}
      <li>
        <h4>{{name}}</h4>
        <ul class="list-unstyled list-keys">
          {{#each item in keys}}
          <li>
            {{#link-to 'keys.key' item.key}}{{item.key}}{{/link-to}}
          </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</div>
{{outlet}}
